<div class="maindiv">
    <div class="row sameline">
        <div class="col">
            <div class="card cd-card cursor-pointer" (click)="getCard1()">
                <h3 class="unit">Unit Space</h3>
                <p class="unit">49/50GB</p>
            </div>
        </div>

        <div class="col">
            <div class="card cd-card" (click)="getCard2()">
                <h3 class="unit1">Revenue</h3>
            <p class="unit1">$23,589</p>
            </div>
        </div>

        <div class="col">
            <div class="card cd-card" (click)="getCard3()">
                <h3 class="unit2">Fixed Issues</h3>
                <p class="unit2">45</p>
            </div>
        </div>

        <div class="col">
            <div class="card cd-card" (click)="getCard4()">
                <h3 class="unit3">Followers</h3>
            <p class="unit3">+562</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cardsAlign">
            <div class="card graphOne">
                <div id="chartContainer" style="height: 300px; width: 400px;"></div>
            </div>

            <div class="bothcards">
                <div id="chartContainer3" style="height: 250px; width: 600px;"></div>
                <div class="cardThree" id="chartContainer2" style="height: 250px; width: 600px;"></div>
            </div>


        </div>

    </div>


    <div class="row sameline">
        <div class="col">
            <div class="card cd-card2" (click)="getCard5()">
                <h3 class="unit4">Statistics</h3>
                <p class="unit9">5416 $</p>
            </div>
        </div>

        <div class="col">
            <div class="card cd-card2" (click)="getCard6()">
                <h3 class="unit5">Unique visitors</h3>
                <p class="unit9">3324 #</p>
            </div>
        </div>

        <div class="col">
            <div class="card cd-card2" (click)="getCard7()">
                <h3 class="unit6">New Oders</h3>
                <p class="unit9">8856 @</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="lastcard" id="chartContainer4" style="height: 250px; width: 1190px;"></div>
    </div>

    <!-- <figure class="highcharts-figure">
        <div id="container"></div>
    </figure> -->
    <!-- <div id="container"></div> -->
</div>